<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Shop Book</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
</head>
<body>
<!--- insertion of the fragment of header to avoid code repetition --->
<header th:insert="sections/header :: header"></header>
<div class="container mt-6 mb-5">
    <h1 >Add book</h1>

    <!--  adding method post instead of get for privacy data exchange with server to avoid exchange through URL -->
<!-- adding enctype attirbute do specifies how form data should be encoded before sending it to the server-->
    <form action="/book/add" method="post" enctype="multipart/form-data" >
        <!--  field where user can add text -->
        <input type="text" name="bookTitle" placeholder="Enter name of book" class="form-control"><br>

        <textarea  name="description" placeholder="Type the description" class="form-control"></textarea><br>
        <div class="custom-file mb-4">
            <input type="file" name="file" class="custom-file-input"
                   id="customFile"> <label class="custom-file-label"
                                           for="customFile">Book Image</label>
        </div>

        <button type="submit" class="btn btn-success">Add book</button>
<!--        <label for="img">Select image:</label>-->
<!--        <input type="file" id="img" name="img" accept="image/*"><br>-->
<!--        <button type="submit" class="btn btn-success">Add book</button>-->

    </form>
</div>


<div th:insert="sections/footer :: footer"></div>
</body>
</html>
